@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #f0f0f0;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
